* {
    background-color: antiquewhite;
}

/* etiqueta */
p {
    color: blueviolet;
    font-size: 30px;
}

img {
    width: 100px;
}

video {
    width: 50%;
}

ul, li {
    color:forestgreen;
}

/* class */
.titulo {
    color: darkcyan;
}

/* ID */
#titulo2 {
    color: darkorange;
    font-size: 28px;
}
